/*insert style here*/
#mapid {
    height: 800px;
    width: 800px;
}

.sidecar {
    height: 50%;
    width: 50%;
}

/*this changes type color*/
#features {
    color: blueviolet;
}

#map2 {
    height: 100vh;
    width: 100vw;
    margin-top: 1px;
}

.custom-tooltip {
    color: red !important;
}

#transition {

    color: red;

}