/*insert style here*/
#mapid {
    height: 800px;
    width: 800px;
}

.sidecar {
    height: 50%;
    width: 40%;
}

/*this changes type color*/
#features {
    color: blueviolet;

}

#map2 {
    height: 100vh;
    width: 100vw;
    margin-top: 1px;
}

.custom-tooltip {
    color:#7B7D7B !important;
    font-family: 'Roboto';
}

.label {
    pointer-events: none !important;
    color: white;
    font-size: 18px;
    /*text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;*/
}

.body {
    text-shadow: 1px 1px 0 #2596be, -1px -1px 0 #2596be, 1px -1px 0 #2596be, -1px 1px 0 #2596be;
}

.conscious {
    text-shadow: 1px 1px 0 #94d4db, -1px -1px 0 #94d4db, 1px -1px 0 #94d4db, -1px 1px 0 #94d4db;

}
.subjectivity{
    text-shadow: 0.5px 0.5px 0 #d0e068, -0.5px -0.5px 0 #d0e068, 0.5px -0.5px 0 #d0e068, -0.5px 0.5px 0 #d0e068;

}
.ego{
    text-shadow: 1px 1px 0 #a44c8c, -1px -1px 0 #a44c8c, 1px -1px 0 #a44c8c, -1px 1px 0 #a44c8c;
}
.antiego{
    text-shadow: 1px 1px 0 #500c34, -1px -1px 0 #500c34, 1px -1px 0 #500c34, -1px 1px 0 #500c34;
}
.others{
    text-shadow: 1px 1px 0 #780414, -1px -1px 0 #780414, 1px -1px 0 #780414, -1px 1px 0 #780414;
}
.will{
    text-shadow: 1px 1px 0 #ac2c94, -1px -1px 0 #ac2c94, 1px -1px 0 #ac2c94, -1px 1px 0 #ac2c94;
}
.freedom{
    text-shadow: 0.5px 0.5px 0 #c9e484, -0.5px -0.5px 0 #c9e484, 0.5px -0.5px 0 #c9e484, -0.5px 0.5px 0 #c9e484;
}
.unconscious{
    text-shadow: 1px 1px 0 #9cd4dc, -1px -1px 0 #9cd4dc, 1px -1px 0 #9cd4dc, -1px 1px 0 #9cd4dc;
}
.objectivity{
    text-shadow: 1px 1px 0 #9c8c2c, -1px -1px 0 #9c8c2c, 1px -1px 0 #9c8c2c, -1px 1px 0 #9c8c2c;
}
/* #openpage {
    position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: cornflowerblue;
        overflow-y: scroll;


} */

body {
    margin: 0;
    padding: 0;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* im so confused how there is two of the same thing doing different things but it is working? */
#map {
    position: fixed;
    width: 50%;
    height: 100%
}

#transition {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-y: scroll;
}



#features {
    width: 50%;
    margin-left: 50%;
    padding-bottom: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #000000;
}

section {
    padding: 25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}

section.active {
    opacity: 1;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

/* #quote{
    color:darkslategray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

} */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}


p {
    text-align: justify;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 12pt;
}

h3 {
    font-family: 'Roboto';
    font-weight: 900;
}

img {

    margin: 10px;
    border-radius: 4px;
    float: right;

}

.custom-tooltip {
    transition: opacity 1.5s;
    white-space: normal !important;
    max-width:500px;
    min-width:200px;

}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: justify;
    font-size: 12pt;
}

h2 {
    font-family: 'Montchauve';
    font-size: 48pt;
}

#vonnegut{
    font-family:'Roboto';
    font-size:x-large;
    text-align:center
    
}
